name: Build and Publish Resume

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Pandoc
      uses: r-lib/actions/setup-pandoc@v2

    - name: Install TinyTeX
      uses: r-lib/actions/setup-tinytex@v2

    - name: Generate resumes
      run: ./generate.sh

    - name: Deploy HTML to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: outputs
